@import "style.css";
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;500&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

.titulo {
    font-family: 'Inconsolata', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: black;
    text-align: center;
}